/*:root {
	--bg: url('/img/bg/9.gif');
	--bgc:#39263c;
	--bgbm:screen;
	--txtc:#d6f9ff;
	--mbgc:#999;
	--mbgi:url('/img/bg/17.gif');
	--mbd:5px solid #fa95ff;
	--h1s:10px #222;
	--m2bgc:#b991bb;
	--navb:solid #320049 2px;
	--bttc:#fb83ff;
	--btbg:#815982;
	--h3:#1f2761;
	--back:#4d3d68;
}*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
/*fnt*/
@font-face {
    font-family: '';
    src: url('/type/.woff') format(woff);
    src: url('/type/.woff2') format(woff2);
}
/*main*/
html {
    min-height: 100%;
    background-repeat: no-repeat;
}
body{
    margin:0;
    background:var(--bg);
	background-color:var(--bgc);
	background-blend-mode:var(--bgbm);
    font-family:'Verdana';
    color:var(--txtc);
}
#main {
margin:25px auto;
background:var(--mbgi);
background-color:var(--mbgc);
height: 54rem;
width: 800px;
padding:0;
border:var(--mbd);
border-spacing: 5px;
}
#main td, #main th{
border-spacing:0px;
}
#title{
width:100%;
height:50px;
padding:5px;
text-align:center;
}
#title h1{
font-size:35px;
font-weight:999;
-webkit-text-stroke:var(--h1s);
paint-order: stroke fill;
}
#nav{
background:var(--m2bgc);
width:175px;
height:100%;
padding:5px;
vertical-align:top;
}
#navb {
	border-bottom:var(--navb) !important;
}
#buttons{
width:100%;
text-align:center;
}
#buttons li{
text-align: center;
list-style-type: none;
}
#buttons a{
color:var(--bttc);
text-decoration: none;
border:var(--navb);
background:var(--btbg);
padding: 2px;
border-bottom: hidden;
line-height: 27px;
display: block;
}
#buttons a:hover{
background:var(--bttc);
color:var(--btbg);
	
}
#main2{
background:var(--m2bgc);
width:625px;
height:100%;
padding:5px;
vertical-align:top;
}
.wtv{
margin:auto;
font-weight:999;
font-size:17px;
}
h3 {
	font-weight:999;
	font-size:20px;
	color:var(--h3);
}
#back a {
	text-decoration:none;
	margin:auto;
	font-size:25px;
	color:var(--back);
}

#tbw {
	width:100%;
	height:100%;
	overflow:hidden;
}
.tab{
	width:100%;
	height:100%;
}